:root {
    color-scheme: light dark;

    /* Step 2: Define your color tokens */
    --bg-color: light-dark(#ffffff, #121212);
    --text-color: light-dark(#333333, #f5f5f5);
    --accent-color: light-dark(#0066cc, #3399ff);
}

main{
    font: 15px sans-serif;
}
header{
    text-align: center;
}
body{
}
footer{
    text-align: center;
    width: 100%;
}